<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Vintage Items</h1>
    <input type="text" placeholder="Search items...">
    <ul>
        {% for item in items %}
            <li>
                {{ item[0] }} - <a href="{{ url_for('item_details', name=item[0]) }}">Item Details</a>
            </li>
        {% endfor %}
    </ul>
    <p><a href="/listing">List a new item</a></p>
</body>
</html>