<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2>Dashboard</h2>
        <h3>Your Collections</h3>
        <ul>
            {% for collection in collections %}
                <li>{{ collection[1] }}</li>
            {% endfor %}
        </ul>
        <a href="/" class="btn btn-link">Logout</a>
    </div>
</body>
</html>