<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h2>Your Tasks</h2>
    <ul id="task-list">
        <!-- Task list will be populated here -->
    </ul>
    <h3>Add New Task</h3>
    <form action="/add_task" method="post">
        <label for="description">Task Description:</label><br>
        <input type="text" id="description" name="description"><br>
        <label for="due_date">Due Date:</label><br>
        <input type="date" id="due_date" name="due_date"><br><br>
        <input type="submit" value="Add Task">
    </form>
</body>
</html>