<!DOCTYPE html>
<html>
<head>
    <title>Feedback Review</title>
</head>
<body>
    <h2>Feedback Review</h2>
    <table>
        <tr>
            <th>Username</th>
            <th>Feedback</th>
            <th>Category</th>
            <th>Status</th>
        </tr>
        {% for feedback in feedbacks %}
        <tr>
            <td>{{ feedback[0] }}</td>
            <td>{{ feedback[1] }}</td>
            <td>{{ feedback[2] }}</td>
            <td>{{ feedback[3] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>