<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Dashboard</title>
</head>
<body>
    <div class="container">
        <h2>Culture Dashboard</h2>
        <ul>
            {% for culture in cultures %}
                <li><a href="{{ url_for('culture_details', culture_name=culture.split('|')[0]) }}">{{ culture.split('|')[0] }}</a></li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('bookmarks') }}">View Bookmarks</a>
        <a href="{{ url_for('logout') }}" class="btn btn-danger">Logout</a>
    </div>
</body>
</html>