<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>
    <h2>Welcome, {{ session['username'] }}</h2>
    <a href="/new_entry">New Entry</a>
    <a href="/logout">Logout</a>
    <h3>Your Journal Entries</h3>
    <ul>
        {% for entry in entries %}
            <li>{{ entry[0] }} - {{ entry[2] }}: {{ entry[1] }}</li>
        {% endfor %}
    </ul>
</body>
</html>