<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transportation Options</title>
</head>
<body>
    <h2>Transportation Options</h2>
    <table>
        <tr>
            <th>Mode</th>
            <th>Cost</th>
            <th>Time</th>
        </tr>
        {% for option in options %}
        <tr>
            <td>{{ option.mode }}</td>
            <td>{{ option.cost }}</td>
            <td>{{ option.time }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/trip_input">Back to Trip Input</a>
    <a href="/logout">Logout</a>
</body>
</html>