<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Feed</title>
</head>
<body>
    <div class="container">
        <h2>Feed</h2>
        <ul class="list-group">
            {% for article in articles %}
            <li class="list-group-item">
                <h5>{{ article.title }}</h5>
                <p>{{ article.content }}</p>
                <small>Author: {{ article.author }}</small>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>