<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entries Overview</title>
</head>
<body>
    <h1>Entries Overview</h1>
    <a href="/journal">Create New Entry</a>
    <ul>
        {% for entry in entries %}
            <li>{{ entry[0] }} - {{ entry[1] }} - <a href="#">View</a> | <a href="#">Edit</a> | <a href="#">Delete</a></li>
        {% endfor %}
    </ul>
    <a href="/logout">Logout</a>
</body>
</html>