<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
    <h1>Your Wishlist</h1>
    <form action="/add_item" method="post">
        Item Name: <input type="text" name="item_name" required><br>
        Description: <input type="text" name="description" required><br>
        Desired Price: <input type="number" name="price" required><br>
        <input type="submit" value="Add Item">
    </form>
    <h2>Current Wishlist Items</h2>
    <ul id="wishlist-items">
        <!-- Wishlist items will be populated here -->
    </ul>
</body>
</html>