{% extends "base.html" %}

{% block content %}
<div class="movie-details">
    <h1>{{ movie.title }}</h1>
    <p>{{ movie.description }}</p>
    <p>Rating: {{ movie.rating }}</p>
    <p>Genres: {{ movie.genres|join(', ') }}</p>
    
    {% if is_favorite %}
    <a href="{{ url_for('remove_favorite', movie_id=movie.id) }}">Remove from Favorites</a>
    {% else %}
    <a href="{{ url_for('add_favorite', movie_id=movie.id) }}">Add to Favorites</a>
    {% endif %}
</div>
<a href="{{ url_for('index') }}">Back to Home</a>
{% endblock %}