<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
</head>
<body>
    <h1>Gallery</h1>
    <ul>
        {% for user, albums in albums.items() %}
            <li>{{ user }}'s Albums:
                <ul>
                    {% for album in albums %}
                        <li>{{ album.title }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
    <a href="/album_creation">Create New Album</a>
</body>
</html>